In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
sns.set_style('whitegrid')
import matplotlib.pyplot as plt
import matplotlib as mpl
# pandas一些属性设置
pd.set_option('max_colwidth',20000)
pd.set_option('display.width',200)
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',1000)
pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)
# matlab支持汉字
mpl.rcParams["font.family"]="sans-serif"
mpl.rcParams['font.sans-serif'] = ['SimHei']

In [2]:
print('read data begin')
train_file_path = 'data/Titanic/train.csv'
test_file_path = 'data/Titanic/test.csv'
train_data = pd.read_csv(train_file_path, header=0)
test_data = pd.read_csv(test_file_path, header=0)
df = pd.concat([train_data, test_data], ignore_index=True)
print(df.head())

read data begin
    Age Cabin Embarked     Fare                                                 Name  Parch  PassengerId  Pclass     Sex  SibSp  Survived            Ticket
0  22.0   NaN        S   7.2500                              Braund, Mr. Owen Harris      0            1       3    male      1       0.0         A/5 21171
1  38.0   C85        C  71.2833  Cumings, Mrs. John Bradley (Florence Briggs Thayer)      0            2       1  female      1       1.0          PC 17599
2  26.0   NaN        S   7.9250                               Heikkinen, Miss. Laina      0            3       3  female      0       1.0  STON/O2. 3101282
3  35.0  C123        S  53.1000         Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4       1  female      1       1.0            113803
4  35.0   NaN        S   8.0500                             Allen, Mr. William Henry      0            5       3    male      0       0.0            373450

In [3]:
print('开始处理缺省值')
df.info()
print('--**--'*10)
test_data.info()

开始处理缺省值
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB
--**----**----**----**----**----**----**----**----**----**--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [4]:
# 缺省值为：Age,Cabin,Embarked,Fare,Survived，其中Survived的缺省值可以忽略
train_data_index = train_data.shape[0]
# Cabin的缺省值过多
df['Cabin'] = df['Cabin'].fillna(value='U0')
# Embarked使用众数填充,对于分类变量，使用众数或许比平均值更好
df['Embarked'] = df['Embarked'].fillna(value=df['Embarked'].mode().values[0])
df['Embarked'].isnull().sum()

0

In [5]:
# Fare的缺省值根据社会等级的平均票价决定
print(df[df['Fare'].isnull()])
df['Fare'] = df[['Fare','Pclass']].groupby('Pclass')['Fare'].transform(lambda x : x.fillna(x.mean()))

       Age Cabin Embarked  Fare                Name  Parch  PassengerId  Pclass   Sex  SibSp  Survived Ticket
1043  60.5    U0        S   NaN  Storey, Mr. Thomas      0         1044       3  male      0       NaN   3701

In [7]:
'''
使用回归 随机森林等模型来预测缺失属性的值。因为Age在该数据集里是一个相当重要的特征
所以保证一定的缺失值填充准确率是非常重要的，对结果也会产生较大影响。一般情况下，会使用数据完整的条目作为模型的训练集，以此来预测缺失值。
'''
from sklearn.ensemble import RandomForestRegressor
train_data = df.iloc[:train_data_index, :]
age_train = train_data[['Age','Survived','Fare', 'Parch', 'SibSp', 'Pclass']]
age_isnull = age_train[age_train['Age'].isnull()]
age_notnull = age_train[age_train['Age'].notnull()]
X = age_notnull.iloc[:, 1:]
y = age_notnull.iloc[:, 0]
print(age_isnull.shape)
print(age_notnull.shape)
rdf = RandomForestRegressor(n_estimators=1000, n_jobs=-1)
rdf.fit(X, y)
predict_ages = rdf.predict(age_isnull.iloc[:, 1:])
predict_ages
train_data.loc[train_data['Age'].isnull(), 'Age']= predict_ages
print(train_data['Age'].isnull().sum())

(0, 6)
(891, 6)

ValueError: Found array with 0 sample(s) (shape=(0, 5)) while a minimum of 1 is required.

In [8]:
print('开始数据可视化处理')
print('生存关系的整体分布')
#DataFrame.plot( )画图函数
train_data['Survived'].value_counts().plot(autopct = '%1.2f%%', kind='pie')
plt.show()

开始数据可视化处理
生存关系的整体分布

In [9]:
print("分析性別与生存之间的关系")
train_data[['Sex','Survived']].groupby(['Sex']).mean().plot.bar()
plt.show()

分析性別与生存之间的关系

In [10]:
print("船舱等级和生存的关系")
train_data[['Pclass','Survived']].groupby(['Pclass']).mean().plot.bar()
plt.show()

船舱等级和生存的关系

In [11]:
print("姓名和生存的关系")
# 对姓名只取称呼部门，因为称呼决定了社会关系等。。。
train_data['Title'] = train_data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
pd.crosstab(train_data['Title'], train_data['Sex'])
a = train_data[['Title','Survived']].groupby(['Title']).mean()
a.plot(kind='bar')
plt.legend(loc='best')
plt.show()

姓名和生存的关系

In [12]:
print('年龄和生存的关系')
print('各个年龄分布的直方图')
print(np.max(train_data['Age']))
plt.figure(figsize=(8,10))
train_data['Age'].hist(bins=70)
plt.xlabel('Age')
plt.ylabel('Num')
plt.show()

年龄和生存的关系
各个年龄分布的直方图
80.0

In [13]:
fig, ax = plt.subplots(1, 2, figsize = (18, 8))
# 琴式图
sns.violinplot("Pclass", "Age", hue="Survived", data=train_data, split=True, ax=ax[0])
ax[0].set_title('Pclass and Age vs Survived')
ax[0].set_yticks(range(0, 110, 10))

sns.violinplot("Sex", "Age", hue="Survived", data=train_data, split=True, ax=ax[1])
ax[1].set_title('Sex and Age vs Survived')
ax[1].set_yticks(range(0, 110, 10))

plt.show()

In [14]:

train_data.boxplot(column='Age', showfliers=False)
plt.show()

In [15]:
facet = sns.FacetGrid(train_data, hue="Survived",aspect=4)
# kdeplot核密度估计图
facet.map(sns.kdeplot,'Age',shade= True)
facet.set(xlim=(0, train_data['Age'].max()))
facet.add_legend()
plt.show()

In [16]:
fig, axis1 = plt.subplots(1,1,figsize=(18,4))
train_data["Age_int"] = train_data["Age"].astype(int)
average_age = train_data[["Age_int", "Survived"]].groupby(['Age_int'],as_index=False).mean()
sns.barplot(x='Age_int', y='Survived', data=average_age)
plt.show()

In [17]:
train_data['Age'].describe()

count    891.000000
mean      29.653887
std       13.729017
min        0.420000
25%       21.000000
50%       28.000000
75%       37.000000
max       80.000000
Name: Age, dtype: float64

In [18]:
# 按照年龄，将乘客划分为儿童、少年、成年和老年，分析四个群体的生还情况
split = [0, 12, 18, 65, 100]
train_data['Age_group'] = pd.cut(train_data['Age'], bins=split)
by_age = train_data.groupby('Age_group')['Survived'].mean()
by_age.plot(kind='bar')
plt.show()

In [19]:
title='SibSp relationship with Survived'
print('船上兄弟姐妹和配偶的数目与生存关系')
train_data[['SibSp','Survived']].groupby(['SibSp']).mean().plot.bar()
plt.title(title)
plt.show()

船上兄弟姐妹和配偶的数目与生存关系

In [20]:
title='Parch relationship with Survived'
print('船上父母，子女的数目与生存关系')
train_data[['Parch','Survived']].groupby(['Parch']).mean().plot.bar()
plt.title(title)
plt.show()

船上父母，子女的数目与生存关系

In [21]:
print('船上亲戚的数目与生存的关系')
train_data['Family'] = train_data['Parch']+train_data['SibSp']
train_data[['Family','Survived']].groupby(['Family']).mean().plot.bar()
plt.show()
print('从图表中可以看出，若独自一人，那么其存活率比较低；但是如果亲友太多的话，存活率也会很低。')

船上亲戚的数目与生存的关系
从图表中可以看出，若独自一人，那么其存活率比较低；但是如果亲友太多的话，存活率也会很低。

In [22]:
print('票价分布的直方图')
plt.figure(figsize=(8,15))
train_data['Fare'].hist(bins=70)
plt.show()

票价分布的直方图

In [23]:
print('票价与社会阶级之间的关系')
plt.figure(figsize=(8,10))
train_data.groupby(['Pclass'])['Fare'].mean().plot.bar(width=0.1)
plt.show()

票价与社会阶级之间的关系

In [24]:
train_data['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [25]:
print('船舱编号和生存之间的关系')
# Cabin缺省的字段较多，先将缺省船舱编号的和非缺省船舱编码号的进行对比
train_data['Has_Cabin'] = train_data['Cabin'].apply(lambda x : 0 if x=='U0' else 1)
train_data[['Has_Cabin','Survived']].groupby(['Has_Cabin']).mean().plot.bar(width=0.2)
plt.show()
# 有船舱的人存活率更高

船舱编号和生存之间的关系

In [26]:
print('不同登录港口和生存之间的关系')
train_data[['Embarked','Survived']].groupby(['Embarked']).mean().plot.bar(width=0.2)
plt.show()
# 由上可以看出，在不同的港口上船，生还率不同，C最高，Q次之，S最低。

不同登录港口和生存之间的关系

In [27]:
print('开始特征工程')
# 在进行特征工程的时候，我们不仅需要对训练数据进行处理，还需要同时将测试数据同训练数据一起处理，使得二者具有相同的数据类型和数据分布。
print(df.info())

开始特征工程
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Age            1223 non-null float64
Cabin          1309 non-null object
Embarked       1309 non-null object
Fare           1309 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB
None

In [28]:
print('首先对离散型类别变量进行处理')
# 使用one-hot编码对离散型类别进行处理
print('开始对Embarked进行处理')
emb_dummies_df = pd.get_dummies(df['Embarked'], prefix=df[['Embarked']].columns[0])
df = pd.concat([emb_dummies_df, df], axis=1,)
print(df.info())

首先对离散型类别变量进行处理
开始对Embarked进行处理
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
Embarked_C     1309 non-null uint8
Embarked_Q     1309 non-null uint8
Embarked_S     1309 non-null uint8
Age            1223 non-null float64
Cabin          1309 non-null object
Embarked       1309 non-null object
Fare           1309 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5), uint8(3)
memory usage: 126.6+ KB
None

In [29]:
print('开始对性别进行处理')
sex_dummies_df = pd.get_dummies(df['Sex'], prefix=df[['Sex']].columns[0])
df = pd.concat([sex_dummies_df, df], axis=1)
print(df.info())

开始对性别进行处理
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 17 columns):
Sex_female     1309 non-null uint8
Sex_male       1309 non-null uint8
Embarked_C     1309 non-null uint8
Embarked_Q     1309 non-null uint8
Embarked_S     1309 non-null uint8
Age            1223 non-null float64
Cabin          1309 non-null object
Embarked       1309 non-null object
Fare           1309 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5), uint8(5)
memory usage: 129.2+ KB
None
None

In [30]:
print('开始对姓名进行处理')
print('首先对称呼进行提取')
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
print(df['Title'].unique())
print(df['Title'].isnull().sum())
# dict.fromkeys用于创建一个新字典，以序列seq中元素做字典的键，value为字典所有键对应的初始值
title_Dict = {}
# 对应官员
title_Dict.update(dict.fromkeys(['Capt', 'Col', 'Major', 'Dr', 'Rev'], 'Officer'))
# 对应皇室成员
title_Dict.update(dict.fromkeys(['Don', 'Sir', 'Countess', 'Dona', 'Lady'], 'Royalty'))
# Mrs已婚女性
title_Dict.update(dict.fromkeys(['Mme', 'Ms', 'Mrs'], 'Mrs'))
title_Dict.update(dict.fromkeys(['Mlle', 'Miss'], 'Miss'))
title_Dict.update(dict.fromkeys(['Mr'], 'Mr'))
# Master 未成年男少主人的称呼,相当于汉语的"少爷
title_Dict.update(dict.fromkeys(['Master','Jonkheer'], 'Master'))
df['Title'] = df['Title'].map(title_Dict)
title_dummies_df = pd.get_dummies(df['Title'], prefix=df[['Title']].columns[0])
df = pd.concat([title_dummies_df, df], axis=1)
print(df.info())

开始对姓名进行处理
首先对称呼进行提取
['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'Countess' 'Jonkheer' 'Dona']
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 24 columns):
Title_Master     1309 non-null uint8
Title_Miss       1309 non-null uint8
Title_Mr         1309 non-null uint8
Title_Mrs        1309 non-null uint8
Title_Officer    1309 non-null uint8
Title_Royalty    1309 non-null uint8
Sex_female       1309 non-null uint8
Sex_male         1309 non-null uint8
Embarked_C       1309 non-null uint8
Embarked_Q       1309 non-null uint8
Embarked_S       1309 non-null uint8
Age              1223 non-null float64
Cabin            1309 non-null object
Embarked         1309 non-null object
Fare             1309 non-null float64
Name             1309 non-null object
Parch            1309 non-null int64
PassengerId      1309 non-null int64
Pclass           1309 non-null int64
Sex              1309 non-null object
SibSp            1309 non-null int64
Survived         891 non-null float64
Ticket           1309 non-null object
Title            1309 non-null object
dtypes: float64(3), int64(4), object(6), uint8(11)
memory usage: 147.1+ KB
None

In [38]:
print('开始对Ticket进行处理')
m = df.shape[0]
ticket_len = len(df['Ticket'].unique())
print('数据集的长度为：%d;不同Ticket的长度为：%d'%(m,ticket_len))
if m == ticket_len:
    print('没有重复的船票编号')
else:
    print('有重复的船票编号，因此可能出现家庭/团体票')

开始对Ticket进行处理
数据集的长度为：1309;不同Ticket的长度为：929
有重复的船票编号，因此可能出现家庭/团体票

In [61]:
# 船票编号和票价有必然关系，因此将团体票的人所付的票价与非团体票所付的票价相对比
df['Group_Ticket'] = df[['Ticket','Fare']].groupby('Ticket').transform('count')
# 通过Group_Ticket可以看出每个票编码的购买人数
df['Fare_mean'] = df.groupby('Ticket')['Fare'].transform('mean')
print(df[['Group_Ticket','Fare_mean','Pclass']].head())

   Group_Ticket  Fare_mean  Pclass
0             1     7.2500       3
1             2    71.2833       1
2             1     7.9250       3
3             2    53.1000       1
4             1     8.0500       3

In [62]:
df['Fare'] = df['Fare']/df['Group_Ticket']
df['Fare'].head()

0     7.25000
1    35.64165
2     7.92500
3    26.55000
4     8.05000
Name: Fare, dtype: float64

In [85]:
# 将票价划分为5组,qcut将数据分组
df['Fare_bin'] = pd.qcut(df['Fare'], 5)
df["Fare_bin"].unique()
# factorize方法将标称型类别变量映射为数值型类别变量，返回值为一个二元组
df['Fare_bin_id'] = pd.factorize(df['Fare_bin'])[0]
df['Fare_bin_id']

0       0
1       1
2       2
3       1
4       2
5       2
6       3
7       4
8       4
9       3
10      4
11      1
12      2
13      4
14      0
15      3
16      4
17      3
18      2
19      4
20      3
21      3
22      2
23      1
24      4
25      4
26      4
27      1
28      0
29      0
30      1
31      1
32      0
33      2
34      1
35      3
36      4
37      2
38      2
39      4
40      2
41      2
42      0
43      2
44      0
45      2
46      0
47      0
48      4
49      2
50      4
51      0
52      3
53      3
54      1
55      1
56      2
57      4
58      4
59      4
60      4
61      1
62      1
63      4
64      1
65      4
66      2
67      2
68      2
69      2
70      2
71      4
72      2
73      4
74      4
75      0
76      0
77      2
78      2
79      4
80      2
81      2
82      0
83      3
84      2
85      2
86      4
87      2
88      1
89      2
90      2
91      0
92      1
93      4
94      0
95      2
96      1
97      1
98      3
99      3
100     0
101     0
102     1
103     2
104     2
105     0
106     0
107     0
108     0
109     2
110     3
111     4
112     2
113     2
114     4
115     2
116     0
117     2
118     1
119     4
120     2
121     2
122     3
123     3
124     1
125     4
126     0
127     4
128     0
129     4
130     0
131     4
132     0
133     3
134     3
135     3
136     1
137     1
138     4
139     1
140     4
141     0
142     2
143     4
144     3
145     2
146     0
147     4
148     2
149     3
150     3
151     1
152     2
153     4
154     0
155     1
156     0
157     2
158     2
159     4
160     2
161     0
162     0
163     2
164     4
165     4
166     1
167     4
168     3
169     4
170     1
171     4
172     4
173     2
174     1
175     0
176     4
177     1
178     3
179     4
180     4
181     3
182     4
183     2
184     0
185     1
186     0
187     1
188     0
189     0
190     3
191     3
192     0
193     2
194     1
195     1
196     0
197     2
198     0
199     3
200     2
201     4
202     4
203     4
204     2
205     4
206     2
207     2
208     0
209     1
210     4
211     2
212     0
213     3
214     0
215     1
216     2
217     3
218     1
219     2
220     2
221     3
222     2
223     0
224     1
225     2
226     2
227     0
228     3
229     4
230     1
231     0
232     3
233     4
234     2
235     0
236     3
237     2
238     2
239     3
240     4
241     0
242     2
243     4
244     4
245     1
246     0
247     0
248     3
249     3
250     0
251     4
252     1
253     2
254     4
255     4
256     1
257     1
258     1
259     3
260     0
261     4
262     1
263     4
264     0
265     2
266     4
267     0
268     1
269     1
270     3
271     4
272     2
273     1
274     0
275     3
276     0
277     4
278     4
279     4
280     0
281     0
282     2
283     2
284     3
285     2
286     2
287     0
288     3
289     0
290     1
291     1
292     3
293     2
294     0
295     1
296     4
297     3
298     1
299     1
300     0
301     0
302     4
303     3
304     2
305     3
306     1
307     1
308     3
309     1
310     1
311     1
312     3
313     0
314     2
315     0
316     3
317     3
318     1
319     1
320     0
321     0
322     3
323     2
324     4
325     1
326     4
327     3
328     4
329     1
330     0
331     1
332     1
333     2
334     1
335     0
336     1
337     1
338     2
339     1
340     2
341     1
342     3
343     3
344     3
345     3
346     3
347     2
348     4
349     2
350     2
351     1
352     4
353     2
354     4
355     2
356     1
357     3
358     0
359     0
360     4
361     3
362     4
363     4
364     0
365     0
366     1
367     4
368     0
369     1
370     1
371     4
372     2
373     1
374     4
375     1
376     0
377     1
378     4
379     0
380     1
381     4
382     2
383     3
384     0
385     2
386     4
387     3
388     0
389     3
390     1
391     0
392     2
393     1
394     4
395     0
396     0
397     3
398     2
399     3
400     2
401     2
402     2
403     2
404     2
405     2
406     0
407     4
408     0
409     4
410     0
411     4
412     1
413     4
414     2
415     2
416     3
417     3
418     3
419     2
420     0
421     0
422     0
423     4
424     4
425     0
426     3
427     3
428     0
429     2
430     1
431     2
432     3
433     4
434     1
435     1
436     4
437     4
438     1
439     2
440     2
441     2
442     0
443     3
444     2
445     1
446     2
447     1
448     4
449     1
450     4
451     3
452     1
453     1
454     2
455     0
456     1
457     3
458     2
459     0
460     1
461     2
462     1
463     3
464     2
465     4
466     4
467     1
468     0
469     4
470     0
471     2
472     4
473     3
474     2
475     3
476     2
477     4
478     0
479     4
480     4
481     4
482     2
483     2
484     1
485     4
486     1
487     1
488     2
489     4
490     3
491     0
492     1
493     1
494     2
495     4
496     1
497     0
498     3
499     0
       ..
809     1
810     0
811     2
812     2
813     4
814     2
815     4
816     2
817     3
818     4
819     4
820     3
821     2
822     4
823     4
824     4
825     4
826     4
827     3
828     0
829     1
830     4
831     4
832     4
833     0
834     2
835     1
836     2
837     2
838     4
839     1
840     2
841     4
842     3
843     4
844     2
845     0
846     4
847     0
848     3
849     1
850     4
851     0
852     4
853     3
854     3
855     4
856     1
857     1
858     4
859     4
860     4
861     3
862     3
863     4
864     3
865     3
866     3
867     1
868     2
869     4
870     0
871     3
872     4
873     2
874     3
875     4
876     4
877     0
878     0
879     1
880     3
881     0
882     3
883     2
884     4
885     4
886     3
887     1
888     4
889     1
890     0
891     0
892     4
893     2
894     2
895     4
896     2
897     0
898     2
899     4
900     2
901     0
902     3
903     1
904     3
905     1
906     3
907     3
908     4
909     2
910     4
911     1
912     4
913     1
914     1
915     1
916     0
917     1
918     4
919     1
920     4
921     3
922     2
923     4
924     4
925     1
926     4
927     2
928     2
929     2
930     4
931     4
932     1
933     0
934     3
935     3
936     2
937     1
938     0
939     1
940     4
941     1
942     3
943     3
944     1
945     3
946     4
947     0
948     0
949     2
950     1
951     0
952     3
953     0
954     0
955     1
956     2
957     0
958     3
959     1
960     1
961     0
962     0
963     2
964     1
965     1
966     1
967     2
968     3
969     3
970     0
971     4
972     1
973     3
974     0
975     3
976     4
977     0
978     2
979     0
980     0
981     4
982     0
983     3
984     2
985     3
986     0
987     1
988     2
989     0
990     2
991     1
992     3
993     0
994     0
995     4
996     0
997     0
998     0
999     2
1000    3
1001    3
1002    0
1003    1
1004    0
1005    1
1006    4
1007    4
1008    4
1009    1
1010    3
1011    0
1012    0
1013    1
1014    0
1015    0
1016    2
1017    0
1018    0
1019    3
1020    2
1021    2
1022    1
1023    4
1024    4
1025    0
1026    0
1027    4
1028    3
1029    2
1030    4
1031    4
1032    3
1033    1
1034    3
1035    1
1036    2
1037    3
1038    2
1039    1
1040    3
1041    1
1042    0
1043    3
1044    4
1045    4
1046    0
1047    1
1048    0
1049    1
1050    4
1051    0
1052    4
1053    3
1054    4
1055    3
1056    0
1057    1
1058    4
1059    1
1060    2
1061    0
1062    4
1063    4
1064    4
1065    4
1066    3
1067    2
1068    1
1069    2
1070    1
1071    3
1072    1
1073    1
1074    0
1075    1
1076    3
1077    2
1078    2
1079    4
1080    3
1081    3
1082    3
1083    4
1084    3
1085    3
1086    0
1087    1
1088    0
1089    2
1090    2
1091    0
1092    4
1093    1
1094    2
1095    2
1096    3
1097    0
1098    2
1099    1
1100    0
1101    0
1102    4
1103    2
1104    3
1105    0
1106    1
1107    0
1108    1
1109    1
1110    2
1111    3
1112    2
1113    2
1114    0
1115    1
1116    4
1117    0
1118    0
1119    0
1120    3
1121    3
1122    1
1123    4
1124    0
1125    1
1126    0
1127    1
1128    4
1129    3
1130    1
1131    1
1132    3
1133    1
1134    0
1135    4
1136    3
1137    2
1138    3
1139    3
1140    4
1141    4
1142    2
1143    1
1144    2
1145    2
1146    0
1147    0
1148    2
1149    3
1150    0
1151    2
1152    0
1153    0
1154    4
1155    3
1156    0
1157    4
1158    0
1159    2
1160    2
1161    1
1162    0
1163    1
1164    0
1165    4
1166    3
1167    2
1168    3
1169    2
1170    2
1171    2
1172    4
1173    0
1174    4
1175    4
1176    0
1177    0
1178    1
1179    4
1180    2
1181    1
1182    4
1183    4
1184    1
1185    2
1186    0
1187    2
1188    4
1189    1
1190    0
1191    0
1192    3
1193    2
1194    2
1195    0
1196    1
1197    3
1198    4
1199    3
1200    4
1201    2
1202    4
1203    0
1204    0
1205    1
1206    0
1207    1
1208    2
1209    0
1210    2
1211    0
1212    4
1213    3
1214    1
1215    1
1216    4
1217    2
1218    1
1219    3
1220    3
1221    2
1222    1
1223    4
1224    4
1225    0
1226    3
1227    3
1228    4
1229    2
1230    4
1231    2
1232    0
1233    4
1234    1
1235    4
1236    0
1237    3
1238    4
1239    3
1240    2
1241    1
1242    2
1243    2
1244    3
1245    4
1246    3
1247    3
1248    0
1249    0
1250    0
1251    4
1252    3
1253    2
1254    2
1255    1
1256    4
1257    4
1258    4
1259    1
1260    3
1261    3
1262    1
1263    4
1264    3
1265    1
1266    1
1267    2
1268    3
1269    1
1270    4
1271    0
1272    0
1273    0
1274    2
1275    3
1276    3
1277    0
1278    3
1279    0
1280    4
1281    3
1282    3
1283    4
1284    2
1285    0
1286    1
1287    0
1288    1
1289    0
1290    0
1291    1
1292    2
1293    1
1294    3
1295    1
1296    3
1297    2
1298    1
1299    0
1300    4
1301    0
1302    1
1303    0
1304    2
1305    1
1306    0
1307    2
1308    0
Name: Fare_bin_id, Length: 1309, dtype: int64

In [88]:
fare_bin_dummies_df = pd.get_dummies(df['Fare_bin_id'])
df = pd.concat([fare_bin_dummies_df, df], axis=1)
print(df.columns)

Index([              0,               1,               2,               3,               4,               0,               1,               2,               3,               4,
       ...
                 'Sex',         'SibSp',      'Survived',        'Ticket',         'Title',  'Group_Ticket', 'Group_Ticket2',     'Fare_mean',      'Fare_bin',   'Fare_bin_id'],
      dtype='object', length=852)