In [13]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt

# pandas一些属性设置
pd.set_option('max_colwidth',200)
pd.set_option('display.width',200)
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',1000)

In [14]:
print('read data begin')
train_file_path = 'data/Titanic/train.csv'
test_file_path = 'data/Titanic/test.csv'
train_data = pd.read_csv(train_file_path)
test_data = pd.read_csv(test_file_path)
print(train_data.columns)
print(train_data.head(1))
print('train_data_info:',train_data.info())
print('test_data_info:',test_data.info())

read data begin
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype='object')
   PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  Parch     Ticket  Fare Cabin Embarked
0            1         0       3  Braund, Mr. Owen Harris  male  22.0      1      0  A/5 21171  7.25   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
train_data_info: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
test_data_info: None

In [15]:
'''
train_data:Age,Embarked and Cabin have nan value
test_data:Age,Cabin,Fare have nan value
'''
print('begin data visualization')
#DataFrame.plot( )画图函数
train_data['Survived'].value_counts().plot(autopct = '%1.2f%%', kind='pie')
plt.show()

begin data visualization

In [17]:
print("分析性別与生存之间的关系")
train_data[['Sex','Survived']].groupby(['Sex']).mean().plot.bar()
plt.show()

分析性別与生存之间的关系

In [19]:
print("船舱等级和生存的关系")
print(train_data[['Pclass','Survived']].groupby(['Pclass']).count())
train_data[['Pclass','Survived']].groupby(['Pclass']).mean().plot.bar()
plt.show()

船舱等级和生存的关系
        Survived
Pclass
1            216
2            184
3            491

In [57]:
print("姓名和生存的关系")
# 对姓名只取称呼部门，因为称呼决定了社会关系等。。。
train_data['Title'] = train_data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
a = train_data[['Title','Survived']].groupby(['Title']).count()/(train_data.shape[0])
a.plot(kind='bar')
plt.legend(loc='best')
plt.show()

姓名和生存的关系

In [39]:
print('性别和生存关系')
train_data[['Sex','Survived']].groupby(['Sex']).mean().plot.bar()
plt.show()

性别和生存关系

In [65]:
print('年龄和生存的关系')
# 将年龄按照0-10,11-20,21-30....99-100分组
print(np.max(train_data['Age']))
age_data = train_data[['Sex','Survived']]
age_data1= age_data[train_data['Age']<=10].mean().plot.bar()
age_data2= age_data[(train_data['Age']>10) & (train_data['Age']<=20)]
age_data3= age_data[(train_data['Age']>20) & (train_data['Age']<=30)]
age_data4= age_data[(train_data['Age']>30) & (train_data['Age']<=40)]
age_data5= age_data[(train_data['Age']>40) & (train_data['Age']<=50)]
age_data6= age_data[(train_data['Age']>50) & (train_data['Age']<=60)]
age_data7= age_data[(train_data['Age']>60) & (train_data['Age']<=70)]
age_data8= age_data[(train_data['Age']>70) & (train_data['Age']<=80)]

年龄和生存的关系
80.0